<!DOCTYPE html>
<html>
  <head>
    <title>WeCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmT8mxgNUzwNAQruUIB7YrrCL3aTGo2bU"></script> 

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="https://we-camp-seeds.s3.us-east-2.amazonaws.com/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://we-camp-seeds.s3.us-east-2.amazonaws.com/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://we-camp-seeds.s3.us-east-2.amazonaws.com/favicon-16x16.png">
   

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
